data/EdStats*
HDR23-24*

website/node_modules
website/node_modules/*
website/node_modules/.bin
website/node_modules/.package-lock.json
website/node_modules/.bin/csv2json
website/node_modules/.bin/csv2tsv
website/node_modules/.bin/dsv2dsv
website/node_modules/.bin/dsv2json
website/node_modules/.bin/json2csv
website/node_modules/.bin/json2dsv
website/node_modules/.bin/json2tsv
website/node_modules/.bin/tsv2csv
website/node_modules/.bin/tsv2json
website/node_modules/d3-dsv/LICENSE
website/node_modules/d3-dsv/package.json
website/node_modules/d3-dsv/README.md
website/node_modules/d3-dsv/bin/dsv2dsv.js
website/node_modules/d3-dsv/bin/dsv2json.js
website/node_modules/d3-dsv/bin/json2dsv.js
website/node_modules/d3-dsv/dist/d3-dsv.js
website/node_modules/d3-dsv/dist/d3-dsv.min.js
website/node_modules/d3-dsv/src/autoType.js
website/node_modules/d3-dsv/src/csv.js
website/node_modules/d3-dsv/src/dsv.js
website/node_modules/d3-dsv/src/index.js
website/node_modules/d3-dsv/src/tsv.js

website/node_modules
website/.pnp
website/.pnp.js

# testing
website/coverage

# production
website/build

# misc
website/.DS_Store
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local

website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
